[submodule "src/loprop"]
	path = src/loprop
	url = https://github.com/fishstamp82/loprop.git
[submodule "src/pd"]
	path = src/pd
	url = https://github.com/fishstamp82/pd.git
[submodule "src/test/qm_prop_tests"]
	path = src/test/qm_prop_tests
	url = https://github.com/fishstamp82/qm_prop_tests.git
